@import url('https://fonts.googleapis.com/css?family=Rosario&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster+Two&display=swap');



/* RGB FOR BUTTONs */
body {
  font-family: 'EB Garamond', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f9 ;
}

h1 {
  margin-bottom: 15px;
  display: flex;
  font-size: 3rem;
  justify-content: center;
  color: #2f4550;
  margin-left: -10px;
}

.user-pass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #92bad0;
  padding: 10px 8px 10px 8px;
  border-radius: 10px;
  color: white;
}

h3 {
  margin-top: 0;
}

.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-button, 
.login-button,
.add-pet,
.createUpdatePetButton 
{
  border: none;
  font-size: 18px;
  margin-top: 14px;
  border-radius: 10px;
  padding: 6px 12px 6px 12px;
  color: white;
  background-color: rgba(29, 160, 242, 0.789);
  transition: opacity 0.15s;
}

.signup-button{
  margin-left: 14px;
}

.signup-button:hover, 
.login-button:hover,
.add-pet:hover,
.createUpdatePetButton:hover {
  cursor: pointer;
  opacity: 0.8;
}

.signup-button:active, 
.login-button:active,
.add-pet:active,
.createUpdatePetButton:active
{
  cursor: pointer;
  opacity: 0.4;
}

.user-input,
.password-input {
  border-radius: 10px;
  border: none;
  width: 12rem;
  height: 1rem;
  margin-top: 8px;
  margin-bottom: 8px;
}

.choosePetCard {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.pet-container {
  display: flex;

}

.petImages {
  display: grid;
  grid-template-columns: repeat(3,300px);
}

.choice-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-pet {
  margin-top: 40px;
}

.choosePetName {
  margin-bottom: 12px;
  font-size: 1.5rem;
}

.create-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 0 30px 10px 30px;
}

.banner {
  font-size: 1.2rem;
  margin-bottom: 20px;
  margin-top: 20px;
}

.createUpdatePetButton {
  margin-top: 12px;
}


#newPetBreed,
#newPetName, 
#newPetWeight,
#newPetAge,
#newPetBreed,
#newPetVet {
  border: none;
  background-color: lightblue;
  margin-top: 12px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#newPetName {
  margin-left: 8px;
}

#newPetBreed {
  margin-left: 9px;
}

#newPetAge {
  margin-left: 21px;
}

#newPetVet {
  margin-left: 24px;
}

article {
  margin: 12px 15px;
  padding: 25px 30px 25px 30px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.75) 7px 6px 11px -10px;
  background-color: rgba(119, 212, 252, 0.5);
}
article:hover {
  margin: 12px 15px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.75) 7px 6px 11px -5px;
}

.tagline {
  font-size: 1.2em;
  margin-top: 0;
}
.overviewItem {
  height: 100px;
  width: 100px;
  background-color: red;
}

.adContainer {
  margin: 5vh 0 2vh 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 95vw;
}

.logo {
  width: 10vw;
  position: absolute;
  left: 15px;
  max-height: 15vh;
}

.header {
  background-color: #77d4fc;
  display: flex;
  flex-direction: column;
  position: relative;
  left: -10px;
  top: -10px;
  align-items: center;
  padding: 25px 10px 25px 10px;
  width: 100vw;
  height: 15vh;
}

.verticalWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.verticalWrapleft {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.card_createad {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.codeDisplay {
  width: 70vw;
  margin: 60px 15vw 80px 15vw;
  background-color: lightgrey;
  border-radius: 15px;
  border-style: dashed;
  border-color: grey;
  border-width: 1px;
  padding: 2em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 4em;
}
.pageHeader {
  margin-left: 20px;
}

.btnSecondary {
  margin-top: 10px;
  margin-left: 45px;
}
.mainSection {
  margin-bottom: 5vh;
}
.createAd {
  border-width: 1px;
  border-style: solid;
  border-color: #77d4fc;
  min-width: 10px;
}
.createCharFields {
  margin: 5px 10px;
}
.hiddenCharFields {
  display: none;
}
.charCard > .hidden-child-wrapper {
  visibility: hidden;
  display: flex;
  flex-direction: row;
}
.charCard:hover > .hidden-child-wrapper {
  visibility: visible;
}
.hidden-child-green {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: aquamarine;
  width: 50%;
  height: 40px;
}
.hidden-child-red {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: coral;
  width: 50%;
  height: 40px;
}
.icons {
  height: 25px;
}
.charCard {
  width: 18vw;
  min-width: 200px;
}

.homeCategory {
  background-color: rgba(255, 255, 255, 0.75);
  margin: 25px 25px 0px 25px;
  border-radius: 10px;
  padding: 25px;
}
.scheduleItem {
  border-color: #ff9b00;
  border-style: solid;
  border-radius: 20px;
  border-width: 1px;
  background-color: white;
  margin: 25px;
  padding: 25px 30px;
}

.petNameBanner {
  font-weight: 600;
  font-size: 1.2em;
  padding: 0px 25px;
}


.petAvatar {
  width: 40%;
}

.choosePetImage {
  height: auto;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  margin-bottom: 20px;
}

.petLink {
  height: auto;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}


